.topic{
  position: absolute;
  top: 40px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  z-index: 200;
}

.topic a{
  font-weight: 600;
  color: #333;
}

#highlight{
  /*color: rgba(251, 167, 36, 1);*/
  color: #87c9c5;
  /*background-color: rgba(243, 174, 64, 0.5);*/
}



#logo{
  display:block;
  margin:auto;
  text-align: center;
}

#logo p{
  color: #FFF;
}

#title{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1000;
}

#subline{
  position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1000;
}

/* Section 0
 * --------------------------------------- */
#section0{
  background-color: #FFF;

}
#section0 h1{
  color: #FFF;
  font-size: 50pt;
  font-weight: 900;
}
#section0 h2{
  color: #FFF;
  font-weight: 300;
  /* width: 60%;
  text-align: center;
  margin: 0 auto; */
}

#section0 a{
  color: #87c9c5;
}



/* Section 1
 * --------------------------------------- */
#section1{
  /*background-color: #EFF6F7;*/
  background-color: #282828;
}
#section1 h1{
  color: #FFF;
}
#section1 p{
  color: #FFF;
  width: 60%;
  text-align: center;
  margin: 0 auto;
}



/* Section 2
 * --------------------------------------- */
#section2{
  background-color: #282828;
  overflow: hidden;
}
#section2 p{
  color: #FFF;
  width: 60%;
  text-align: center;
  margin: 0 auto;
}



/* Section 3
 * --------------------------------------- */
#section3{
  background-color: #282828;
  overflow: hidden;
}
#section3 h1{
  color: #F2F2F2;
}
#section3 p{
  color: #FFF;
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

#section3 a{
color: #87c9c5;
}
